$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function px($pixels) {
  @return #{$pixels}px;
}

@mixin center() {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
