$background: #e8edf3;

// Original Palette
/*$board: #BBADA0;*/
/*$text-dark: #776E65;*/
/*$text-light: #F9F6F2;*/

/*$empty-tile: #CDC1B4;*/
/*$tile-2: #EEE4DA;*/
/*$tile-4: #EDE0C8;*/
/*$tile-8: #F2B179;*/
/*$tile-16: #F59563;*/
/*$tile-32: #F67C5F;*/
/*$tile-64: #F65E3B;*/
/*$tile-128: #EDCF72;*/
/*$tile-256: #EDCC61;*/
/*$tile-512: #EDC850;*/
/*$tile-1024: #EAC526;*/
/*$tile-2048: #E4BC00;*/

// Dark Palette
$board: #001427;
$text-dark: #F9F6F2;
$text-light: #F9F6F2;

$empty-tile: #002B44;
$tile-2: #86CB92;
$tile-4: #70B28B;
$tile-8: #609977;
$tile-16: #40664F;
$tile-32: #EDCF72;
$tile-64: #EDC44B;
$tile-128: #EAC317;
$tile-256: #DDB500;
$tile-512: #FF7759;
$tile-1024: #F65E3B;
$tile-2048: #BC2C1A;

$cell-size: 75;
$cell-padding: 10;
$board-size: (4 * $cell-size) + (5 * $cell-padding);
