body {
  margin: 0;
  padding: 0;
}

/*
 * Local
 * Import and set as `className`
 * For more info: https://github.com/css-modules/css-modules
 */
.wrapper {}

// _variables.scss
$board: #BBADA0;
$text-dark: #776E65;
$text-light: #F9F6F2;

$empty-tile: #CDC1B4;
$tile-2: #EEE4DA;
$tile-4: #EDE0C8;
$tile-8: #F2B179;
$tile-16: #F59563;
$tile-32: #F67C5F;
$tile-64: #F65E3B;
$tile-128: #EDCF72;
$tile-256: #EDCC61;
$tile-512: #EDC850;
$tile-1024: #EAC526;
$tile-2048: #E4BC00;

$cell-size: 75;
$cell-padding: 10;
$board-size: (4 * $cell-size) + (5 * $cell-padding);

// _mixins.scss

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function px($pixels) {
  @return #{$pixels}px;
}

/*
 * Global (Standard usage)
 */
:global {
  @for $row from 0 through 3 {
    @for $column from 0 through 3 {
      .cell-#{$row}-#{$column} {
        top: px(#{$cell-padding + (($cell-size + $cell-padding) * $row)}) !important;
        left: px(#{$cell-padding + (($cell-size + $cell-padding) * $column)}) !important;
      }
    }
  }

  .merged-appear { transform: scale(1.2); }
  .merged-appear.merged-appear-active { transform: scale(1); }

  .tile-appear { transform: scale(0.3); }
  .tile-appear.tile-appear-active { transform: scale(1); }


  #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    background: rgba(234, 197, 38, 0.5);
  }

  #score {
    text-align: center;
    font-family: sans-serif;
  }

  main {
    text-align: center;
  }

  button {
    width: 100px;
    margin: 10px 0;
  }

  wrapper {
    margin: 0 auto;

    position: relative;
    overflow: hidden;
    width: px($board-size);
    height: px($board-size);
    display: block;
    font-family: sans-serif;

    border-radius: px($cell-padding / 2);
    background-color: #BBADA0;
  }

  div.tile {
    transition: all .1s ease-in-out;

    position: absolute;
    width: px($cell-size);
    height: px($cell-size);
    line-height: px($cell-size);
    border-radius: px($cell-padding / 2);
    text-align: center;
    font-size: em(($cell-size / 50) * 16);
  }

  #tiles {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  #grid {
    display: flex;
    flex-wrap: wrap;
    padding: px($cell-padding / 2);
    position: relative;
    z-index: 0;
  }

  column {
    flex: 0 1 px($cell-size);
    line-height: px($cell-size);
    height: px($cell-size);
    margin: px($cell-padding / 2);
    color: white;
    text-align: center;
    border-radius: px($cell-padding / 2);
    background-color: $empty-tile;
  }

  .tile-0 { background-color: $empty-tile; }
  .tile-2 { background-color: $tile-2; color: $text-dark; }
  .tile-4 { background-color: $tile-4; color: $text-dark; }
  .tile-8 { background-color: $tile-8; color: $text-light;}
  .tile-16 { background-color: $tile-16; color: $text-light; }
  .tile-32 { background-color: $tile-32; color: $text-light; }
  .tile-64 { background-color: $tile-64; color: $text-light; }
  .tile-128 { background-color: $tile-128; color: $text-light; }
  .tile-256 { background-color: $tile-256; color: $text-light; }
  .tile-512 { background-color: $tile-512; color: $text-light; }
  .tile-1024 { background-color: $tile-1024; color: $text-light; }
  .tile-2048 { background-color: $tile-2048; color: $text-light; }
}

